.wp-block-button.is-style-outline {
    .wp-block-button__link {
        border-width: 1.25px;
        &.has-white-color:hover {
            background-color: theme-color("light");
            color: theme-color("primary");
        }
        &.has-secondary-color:hover {
            background-color: theme-color("secondary");
            color: theme-color("light");
        }
    }
}

.wp-block-lg-blocks-swiper {
    img {
        max-height: 450px;
    }
}

.wp-block-lg-blocks-testimonials {
    .slick-slider {
        .slick-dots {
            .slick-active {
                button::before {
                    color: theme-color("secondary");
                }
            }
            button::before {
                color: #fff;
            }
        }
    }
}

.font-weight-semi {
    font-weight: 600 !important;
}

img {
    height: auto;
}
