hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

.svg {
    img {
        width: 35px;
    }
}

.about-banner {
    background-size: unset;
}

ul.list-style-checkmark {
    li {
        list-style-image: url(/wp-content/themes/wp-theme-templatea/assets/dist/images/checkmark-white.svg);
    }
}

.wp-block-button__link {
    padding: 6px 24px;
}
