#site-header {
    .header-main {
        .main-navigation {
            .navbar {
                background-color: #fff;
                @include media-breakpoint-down(sm) {
                    .navbar-brand {
                        min-width: 100%;
                        flex: 1 1 100%;
                    }
                    .navbar-toggler {
                        flex: 1 1 25%;
                    }
                    > .wp-block-button {
                        flex: 1 1 75%;
                    }
                }
                #main-navbar {
                    justify-content: flex-end;
                    a {
                        text-transform: capitalize;
                        color: theme-color("secondary");
                        &:hover {
                            color: theme-color("primary");
                        }
                    }
                    a.dropdown-item {
                        color: #fff;
                        &:hover,
                        &:active,
                        &:focus {
                            background-color: #fff;
                            color: theme-color("primary");
                        }
                    }
                }
            }
        }
    }
}

#site-header {
    .header-main {
        .main-navigation {
            .navbar {
                .navbar-collapse {
                    @include media-breakpoint-down(sm) {
                        top: 173px !important;
                    }
                    @include media-breakpoint-down(md) {
                        top: 115px;
                        background-color: theme-color("secondary");
                        a {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: theme-color("secondary") !important;
    margin: 2px 0px;
}
