html.sticky-header {
    .home {
        #site-header {
            position: absolute;
        }
    }
}
.home {
    #site-header {
        box-shadow: unset;
        .header-main {
            .main-navigation {
                .navbar {
                    background-color: transparent;
                }
            }
        }
    }
    #site-content {
        padding-top: 0px !important;
    }
}

.home {
    #site-content {
        .wp-block-cover {
            h1 {
                margin-top: 5rem;
                font-size: 1.5rem;

                @include media-breakpoint-up(md) {
                    margin-top: 2rem;
                    font-size: 2.5rem;
                }
                @include media-breakpoint-up(lg) {
                    margin-top: initial;
                    max-width: 60%;
                    line-height: 1.2em;
                }
            }
        }
    }
    .about-banner {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                max-width: 50%;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .home {
        #site-content {
            .wp-block-cover {
                &::before {
                    opacity: 0 !important;
                }
            }
        }
    }
}
