$site-footer-bg-color: theme-color("light");
$site-footer-color: theme-color("secondary");

//Site Legal
$site-legal-bg-color: theme-color("light");
$site-legal-color: theme-color("secondary");
$site-legal-link-color: theme-color("primary");
